; Add debug infos to log
debug=false
; This is required for clients using lowercase DNs, e.g. ownCloud/nextCloud
dn_lower_case=true

; LDAP admin user, can be a "virtual" root user or a ChurchTools user name (virtual root is recommended!)
ldap_user=root
; The static password to be used for the ldap_user if it is NOT a CT account, or the account password of the chosen user otherwise
; If you did not use install.sh, choose a LONG SECURE RANDOM password from a password generator like KeePass!
ldap_password=XXXXXXXXXXXXXXXXXXXX
; LDAP server port
ldap_port=1389
; The ctldap.sh service script will try to read this and setup an iptables NAT rule from iptables_port to ldap_port if it is set
iptables_port=389
; LDAP base DN o=xxx, e.g. churchtools
ldap_base_dn=churchtools

; The URI pointing to the root of your ChurchTools installation
ct_uri=https://mghh.churchtools.de/
; This API key is used to authenticate against the PHP API
; IMPORTANT: AFTER using install.sh or choosing a LONG SECURE RANDOM API key from a password generator like KeePass,
; copy this line into your CT configuration at /sites/[default|subdomain]/churchtools.config
api_key=XXXXXXXXXXXXXXXXXXXX
; This controls (in milliseconds) how old the user/group data can be until it is fetched from ChurchTools again
cache_lifetime=10000

; To use SSL/TLS, provide file names for x509 certificate and key here
; Use this command to create a private key and a certificate:
; openssl req -x509 -newkey rsa:2048 -keyout key.pem -out cert.pem -days 365
; Use this command to remove the encryption password:
; openssl rsa -in key.pem -out newkey.pem && mv newkey.pem key.pem
; ldap_cert_filename=cert.pem
; ldap_key_filename=key.pem
